streamlit
python-dotenv==1.0.0
PyPDF2==3.0.1
sentence-transformers==2.2.2
transformers==4.57.1
huggingface_hub==0.13.4
torch==2.9.1
torchvision==0.24.1
faiss-cpu
numpy==1.26.4
scikit-learn==1.7.2
fastapi==0.105.0
uvicorn==0.23.2
pydantic==1.10.13
groq==0.5.0
